{% extends 'dashboard/base.html' %}

{% block title %}Register as Doctor{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4 text-primary">Register as Doctor</h2>

    <div class="card shadow-sm">
        <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                <table class="table table-borderless align-middle">
                    {{ form.as_table }}
                    <tr>
                        <td></td>
                        <td>
                            <button id="id_register_button" class="btn btn-primary mt-3" type="submit">Submit</button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>
{% endblock %}
